.buttonsContainer {
  display: flex;
}

.li {
  display: inline-block;
  list-style: none;
}

.li + .li {
  margin-left: 20px;
}

button {
  background-color: teal;
  color: white;
  padding: 10px;
}
